<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">

    {% unless template == 'index' %}
    <!-- Brand / Logo -->
    <a class="navbar-brand" href="{{ shop.url }}" title="{{ shop.name }}"><img src="{{ 'img-asili-logo.png' | asset_url }}" alt="{{ shop.name }}" /></a>
    {% endunless %}

    <!-- Toggle Button for Navbar -->
    <div class="navbar-toggle-wrapper">
      <button id="navigation-toggle" type="button" class="navbar-toggle button-toggle" data-toggle="hidden" data-target="#navigation" data-body-class="nav-open">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <!-- Main Navigation Content -->
  <div id="navigation" class="full-screen-nav-wrapper hidden {% if page.handle != "" %}nav-{{ page.handle }}{% endif %}">

    <!-- Display linklist selected in theme settings. -->
    {% unless linklists[settings.navbar_linklist] == empty %}
    <ul class="nav-links nav-links-center">
      {% for link in linklists[settings.navbar_linklist].links %}

      <li class="{% if link.active %}active{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
        <div class="nav-link-image-wrapper">
          {% if link.type == "page_link" %}
          <img src="{{ link.object.metafields.asili_page.navigation_image }}" data-position="{{ link.object.metafields.asili_page.navigation_image_position}}" onload="backgroundLoaded(this)">
          {% elsif link.type == "collection_link" or link.type == "product_link" %}
          <img src="{{ 'img-navigation-store.jpg' | asset_url }}" data-position="50% 50%" onload="backgroundLoaded(this)">
          {% elsif link.type == "blog_link" %}
          <img src="{{ 'img-navigation-journal.jpg' | asset_url }}" data-position="50% bottom" onload="backgroundLoaded(this)">
          {% endif %}
        </div>
      </li>
      {% endfor %}
      <div class="nav-link-image-wrapper nav-list-image-wrapper"></div>
    </ul>
    {% endunless %}

    <!-- Additional (Bottom) Navigation Links -->
    <ul class="nav-links nav-links-bottom">
      <li>
        <a href="/search" title="Search..."><span class="glyphicon glyphicon-search"></span></a>
      </li>
      {% if shop.customer_accounts_enabled %}
      {% if customer %}
      <li>
        <a href="/account">{{ customer.first_name }} {{ customer.last_name }}</a>
      </li>
      {% else %}
      <li>
        {{ "Log In" | customer_login_link }}
      </li>
      {% endif %}
      {% endif %}
      <li>
        <a href="/cart">Cart ({{ cart.item_count }})</a>
      </li>
    </ul>

  </div>
</nav>