<section class="full-width full-height nav-padded asili-light-bg">
  <div class="customer-wrapper">
    <!-- Account Details -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h1>Your Account</h1>
        <hr />
        <h3>Account Details</h3>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{{ customer.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {% if customer.email %}
                {{ customer.email }}<br />
                {% endif %}
                {% if customer.default_address != nil %}
                {{ customer.default_address.address1 }}<br />
                {% if customer.default_address.address2 != "" %}
                {{ customer.default_address.address2 }}<br />
                {% endif %}
                {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br />
                {{ customer.default_address.zip}}<br />
                {{ customer.default_address.phone }}
                {% endif %}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <p class="bold"><a href="/account/addresses">Manage Addresses ({{ customer.addresses_count }})</a></p>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- Order History -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h3>Order History</h3>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Order</th>
              <th>Date</th>
              <th>Payment Status</th>
              <th>Fulfilment Status</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% if customer.orders.size != 0 %}
            {% for order in customer.orders %}
            <tr class="{% if order.cancelled %}error{% endif %}">
              <td>{{ order.name | link_to: order.customer_url }}</td>
              <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
              <td>{{ order.financial_status }}</td>
              <td>{{ order.fulfillment_status }}</td>
              <td>{{ order.total_price | money }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">
                <em>No orders placed.</em>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 right-align">
        <a href="/account/logout" class="btn btn-default">Log Out</a>
      </div>
    </div>
  </div>
</section>