<section class="full-width full-height nav-padded">
  <div class="collection-wrapper">

    <!-- Display the collection description if one exists. -->
    {% unless collection.description == '' %}
    <!-- TODO Make this look good -->
    <header class="page-header">
      <h1>{{ collection.title }}</h1>
    </header>
    <p class="lead">{{ collection.description }}</p>
    {% endunless %}


    <!-- Products -->
    {% if collection.products.size == 0 %}
    <div class="panel panel-default">
      <div class="panel-body">
        No products found in this collection.
      </div>
    </div>
    {% else %}
    <!-- Include product list. -->
    <div class="hide">{% increment counter %}</div>
    {% for product in collection.products %}
    <a href="{{ product.url | within: collection }}" class="product-section">
      <div class="product-image-wrapper product-image-wrapper-first product-image-wrapper-{{ product.metafields.asili_product.product_image_size | downcase }}">
        <div class="product-image fades-in">
          <img src="{{ product.images.first | product_img_url: 'original' }}" alt="{{ product.title }}" onload="backgroundLoaded(this)"/>
        </div>
      </div>
      <div class="product-image-wrapper product-image-wrapper-last">
        <div class="product-image fades-in">
          <img src="{{ product.images.last | product_img_url: 'original' }}" alt="{{ product.title }}" onload="backgroundLoaded(this)"/>
        </div>
      </div>
      <div class="product-info">
        <h2 class="product-title">{% increment counter %}.<br>{{ product.title }}<br>{{ product.metafields.asili_product.product_material }}<br>{{ product.price | money }}</h2>
        <div class="product-snippet">{{ product.metafields.asili_product.product_snippet }}</div>
      </div>
    </a>
    {% endfor %}
    {% endif %}
    {% include 'carousel-nav' %}
  </div>
</section>