{% assign page = pages.frontpage %}

<section class="full-width full-height">
  <div class="index-video-wrapper video-wrapper full-width full-height">
    <video id="video-background" poster="{{ 'img-navigation.jpg' | asset_url }}" data-mobile-poster="{{ 'img-navigation-mobile.jpg' | asset_url }}" autoplay loop muted plays-inline webkit-playsinline>
      <source src="{{ 'video-home.mp4' | asset_url }}" type="video/mp4">
    </video>
  </div>
  <div class="brand-wrapper">
    <a class="brand-content" onclick="document.getElementById('navigation-toggle').click()">
      <img src="{{ 'img-asili-logo.png' | asset_url }}" alt="{{ shop.name }}" />
      <p class="brand-text hidden">/ ah-see-lee /<br>rise, root, origin</p>
    </a>
  </div>
</section>

<script>
  var videoWrapper = document.querySelector('.index-video-wrapper');
  var videoBackground = document.getElementById("video-background");

  if (/iPad|iPhone|iPod/.test(navigator.platform)) {
    videoWrapper.style.backgroundImage = 'url("' + videoBackground.dataset.mobilePoster + '")';
    videoWrapper.style.backgroundSize = 'cover';
    videoWrapper.style.backgroundPosition = 'center';
    videoBackground.style.display = 'none';
  }
</script>

<script>
  window.setTimeout(function() {
    // Check if nav is already open
    var bodyClasses = document.body.classList + "";
    if(bodyClasses.indexOf("nav-open") < 0) {
      // Nav isn't open, so let's open it
      var button = document.getElementById("navigation-toggle");
      button.click();
    }
  }, 5000);
</script>