<section class="full-width full-height asili-grid-wrapper">
  <div class="asili-grid-half asili-grid-image-background fades-in">
    <img src="{{ 'img-materials-cover.jpg' | asset_url }}" data-position="50% 50%" onload="backgroundLoaded(this)">
  </div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      <h1>Every Asili material:</h1>
      <ul class="accented-list">
        <li><p><b>Begins with responsible material sourcing,</b> as this forms a key chapter in a product’s story. By operating transparently, ASILI offers the design community an assurance of integrity.</p></li>
        <li><p><b>Supports artisans in their trade</b> and through this support, contributes to the preservation of culturally significant crafts. Our aim is to attract a new global market, reviving the neglected traditions and materials of East Africa.</p></li>
        <li><p><b>Educates both designer and customer</b> about the potential of a material that they may have never previously used before.</p></li>
        <li><p><b>Results in the creation of a modern artifact.</b> We filter traditional techniques and natural materials through a contemporary lens, to create something new and timeless.</p></li>
      </ul>
    </div>
  </div>
</section>

<section class="full-width asili-grid-wrapper asili-materials asili-materials-stone">
  <h1 class="section-number section-number-right">1/3</h1>
  <div class="asili-grid-half asili-grid-spacer"></div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      <h1>Soap<br>Stone</h1>
      <p class="font-weight-normal flex-text">Kisii soapstone is mined from family owned quarries in Western Kenya.<br><br>Soapstone is a metamorphic rock that consists of the mineral talc, also commonly referred to as steatite, it is known for being soft and easy to work with.<br><br>Communities within Kenya have been using soapstone for generations, for many families, the carvings are their primary source of income. Skills are passed down within families, some reaching three generations of carvers.<br><br>Each piece is individually hand crafted, from start to finish within a fair trade environment.</p>
    </div>
  </div>
  <div class="captioned-image-wrapper fades-in estha-bowl">
    <img src="{{ 'img-materials-estha-bowl.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
    <p class="left-align">Estha bowl</p>
  </div>
  <div class="desktop-wrapper">
    <img class="section-image" src="{{ 'img-materials-stone.jpg' | asset_url }}">
    <div class="captioned-image-wrapper fades-in tom-dish">
      <img src="{{ 'img-materials-tom-dish.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
      <p class="right-align">Tom dish</p>
    </div>
  </div>
</section>

<section class="full-width asili-grid-wrapper asili-materials asili-materials-horn">
  <h1 class="section-number section-number-left">2/3</h1>
  <div class="asili-grid-half asili-grid-spacer"></div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      <h1>Waste<br>Horn</h1>
      <p class="font-weight-normal flex-text"><b><i>Traditional techniques are used to clean, dry and shape the discarded horn into beautiful shapes and forms.</i></b> Artisans have been working with this material for hundreds of years.<br><br><i>Our horn products have been ethically sourced from the East Africa’s beef industry, using Ankole cattle horns that would have otherwise been discarded.</i> Not only are our horn products 100% sustainable, each piece has been handcrafted by a team of skillful artisans and is a completely unique material that can not be replicated.<br><br>Ankole horn comes in a range of naturally occurring colours, from light to dark with striations of white, black and brown.</p>
    </div>
  </div>
  <div class="captioned-image-wrapper fades-in ido-tumbler">
    <img src="{{ 'img-materials-ido-tumbler.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
    <p class="right-align">Ido tumbler (small)</p>
  </div>
  <div class="desktop-wrapper">
    <img class="section-image" src="{{ 'img-materials-horn.jpg' | asset_url }}">
    <div class="captioned-image-wrapper fades-in ido-vase">
      <img src="{{ 'img-materials-ido-vase.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
      <p class="right-align">Ido vase (large)</p>
    </div>
  </div>
</section>

<section class="full-width asili-grid-wrapper asili-materials asili-materials-wood">
  <h1 class="section-number section-number-right">3/3</h1>
  <div class="asili-grid-half asili-grid-spacer"></div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      <h1>Reclaimed<br>Olive Wood</h1>
      <p class="font-weight-normal flex-text"><b><i>Sourced from Kenya’s Rift Valley, the wood has been reclaimed from abandoned stumps of Wild Olive Trees that have been cut down to make room for local farmland.</i></b><br><br><i>Instead of going to waste, the stumps and roots are dug up to clear the land to provide suitable conditions for planting crops.</i> The stumps and roots are then re-purposed by a small Kenyan based team who saw the potential in the wood and couldn’t let it go to waste. The stumps are dried for 2-3 years, before it is re-purposed into beautifully crafted homeware pieces and furniture.<br><br>The unique grain, rich colour and texture of the olive wood stumps make these items one of a kind.</p>
    </div>
  </div>
  <div class="captioned-image-wrapper fades-in okema-spoons">
    <img src="{{ 'img-materials-okema-spoons.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
    <p class="right-align">Okema spoons</p>
  </div>
  <div class="desktop-wrapper">
    <div class="captioned-image-wrapper fades-in squared-frank-bowl">
      <img src="{{ 'img-materials-squared-frank-bowl.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
      <p class="right-align">Squared frank bowl</p>
    </div>
    <div class="captioned-image-wrapper fades-in frank-bowl">
      <img src="{{ 'img-materials-frank-bowl.jpg' | asset_url }}"onload="backgroundLoaded(this, true)">
      <p class="right-align">Frank bowl</p>
    </div>
  </div>
</section>